body{
  font-family: 'Bahianita', cursive;
  font-size: 48px;
  text-align: center;
}
h1{
  background-image: linear-gradient(to right, green, blue, violet);
}
.truthButton{
  padding: 20px;
  border-radius: 15px;
  font-size: 18px;
  background-color: #00FFB6
}
.dareButton{
  padding: 20px;
  border-radius: 15px;
  font-size: 18px;
  background-color: #D0135D
}
